# Exploration of the data on hand

## 0 - Imports

In [1]:
import pandas as pd
import numpy as np
import os

In [7]:
path = "/Users/armandkouyoumdjian/github/INTRO_NLP_A2/exercise2/"
os.chdir(path)

In [8]:
traindata = pd.read_csv("data/traindata.csv", sep="\t")
traindata.head()

,positive,AMBIENCE#GENERAL,seating,18:25,"short and sweet – seating is great:it's romantic,cozy and private."
0,positive,AMBIENCE#GENERAL,trattoria,25:34,This quaint and romantic trattoria is at the t...
1,positive,FOOD#QUALITY,food,98:102,The have over 100 different beers to offer thi...
2,negative,SERVICE#GENERAL,STAFF,5:10,THIS STAFF SHOULD BE FIRED.
3,positive,FOOD#STYLE_OPTIONS,menu,4:8,"The menu looked great, and the waiter was very..."
4,positive,FOOD#QUALITY,tuna,4:8,The tuna and wasabe potatoes are excellent.

## 1 - General Exploration

In [9]:
len(traindata)

1502

In [15]:
traindata.isna().sum()

positive                                                              0
AMBIENCE#GENERAL                                                      0
seating                                                               0
18:25                                                                 0
short and sweet – seating is great:it's romantic,cozy and private.    0
dtype: int64

In [13]:
traindata.dtypes

positive                                                              object
AMBIENCE#GENERAL                                                      object
seating                                                               object
18:25                                                                 object
short and sweet – seating is great:it's romantic,cozy and private.    object
dtype: object

## 2 - Exploration per category

In [12]:
traindata["positive"].value_counts()

positive    1054
negative     390
neutral       58
Name: positive, dtype: int64